In [41]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Lenovo PC\Downloads\KaggleV2-May-2016.csv")
print(df.head())

# Check for missing values
print(df.isnull().sum())

      PatientId  AppointmentID Gender          ScheduledDay  \
0  2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1  5.589978e+14        5642503      M  2016-04-29T16:08:27Z
2  4.262962e+12        5642549      F  2016-04-29T16:19:04Z
3  8.679512e+11        5642828      F  2016-04-29T17:29:31Z
4  8.841186e+12        5642494      F  2016-04-29T16:07:23Z

         AppointmentDay  Age      Neighbourhood  Scholarship  Hipertension  \
0  2016-04-29T00:00:00Z   62    JARDIM DA PENHA            0             1
1  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             0
2  2016-04-29T00:00:00Z   62      MATA DA PRAIA            0             0
3  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI            0             0
4  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             1

   Diabetes  Alcoholism  Handcap  SMS_received No-show
0         0           0        0             0      No
1         0           0        0             0      No
2         0           0        0             0      No
3         0           0        0             0      No
4         1           0        0             0      No
PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [42]:
# Remove duplicates
df = df.drop_duplicates()

In [18]:
#drop duplicate values
df=df.drop_duplicates()
print(df)

           PatientId  AppointmentID Gender          ScheduledDay  \
0       2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1       5.589978e+14        5642503      M  2016-04-29T16:08:27Z
2       4.262962e+12        5642549      F  2016-04-29T16:19:04Z
3       8.679512e+11        5642828      F  2016-04-29T17:29:31Z
4       8.841186e+12        5642494      F  2016-04-29T16:07:23Z
...              ...            ...    ...                   ...
110522  2.572134e+12        5651768      F  2016-05-03T09:15:35Z
110523  3.596266e+12        5650093      F  2016-05-03T07:27:33Z
110524  1.557663e+13        5630692      F  2016-04-27T16:03:52Z
110525  9.213493e+13        5630323      F  2016-04-27T15:09:23Z
110526  3.775115e+14        5629448      F  2016-04-27T13:30:56Z

              AppointmentDay  Age      Neighbourhood  Scholarship  \
0       2016-04-29T00:00:00Z   62    JARDIM DA PENHA            0
1       2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0
2       2016-04-29T00:00:00Z   62      MATA DA PRAIA            0
3       2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI            0
4       2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0
...                      ...  ...                ...          ...
110522  2016-06-07T00:00:00Z   56        MARIA ORTIZ            0
110523  2016-06-07T00:00:00Z   51        MARIA ORTIZ            0
110524  2016-06-07T00:00:00Z   21        MARIA ORTIZ            0
110525  2016-06-07T00:00:00Z   38        MARIA ORTIZ            0
110526  2016-06-07T00:00:00Z   54        MARIA ORTIZ            0

        Hipertension  Diabetes  Alcoholism  Handcap  SMS_received No-show
0                  1         0           0        0             0      No
1                  0         0           0        0             0      No
2                  0         0           0        0             0      No
3                  0         0           0        0             0      No
4                  1         1           0        0             0      No
...              ...       ...         ...      ...           ...     ...
110522             0         0           0        0             1      No
110523             0         0           0        0             1      No
110524             0         0           0        0             1      No
110525             0         0           0        0             1      No
110526             0         0           0        0             1      No

[110527 rows x 14 columns]

In [43]:
# Example: Gender standardization
df["Gender"] = df["Gender"].str.strip().str.lower()

# Replace variations
df["Gender"] = df["Gender"].replace({
    "male": "Male",
    "m": "Male",
    "female": "Female",
    "f": "Female"
})

In [45]:
# Convert to datetime
df["AppointmentDay"] = pd.to_datetime(df["AppointmentDay"], dayfirst=True)
df["ScheduledDay"] = pd.to_datetime(df["ScheduledDay"], dayfirst=True)

# Standardize format (dd-mm-yyyy)
df["AppointmentDay"] = df["AppointmentDay"].dt.strftime("%d-%m-%Y")
df["ScheduledDay"] = df["ScheduledDay"].dt.strftime("%d-%m-%Y")

In [46]:
# Make all lowercase, replace spaces with underscores
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [48]:
# Check datatypes
print(df.dtypes)

# Convert columns
df["age"] = df["age"].astype(int)  # Ensure age is integer
df["patientid"] = df["patientid"].astype(int)  # Ensure PatientId is integer
df["appointmentid"] = df["appointmentid"].astype(int)  # Ensure PatientId is integer
df["appointmentday"] = pd.to_datetime(df["appointmentday"], dayfirst=True)  # Ensure datetime
df["scheduledday"] = pd.to_datetime(df["scheduledday"], dayfirst=True)  # Ensure datetime

patientid          int32
appointmentid      int32
gender            object
scheduledday      object
appointmentday    object
age                int32
neighbourhood     object
scholarship        int64
hipertension       int64
diabetes           int64
alcoholism         int64
handcap            int64
sms_received       int64
no-show           object
dtype: object